[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "strap"]
	path = strap
	url = https://github.com/MikeMcQuaid/strap
[submodule "vim/pack/plugins/start/vim-gitgutter"]
	path = vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/tabnine"]
	path = vim/tabnine
	url = git://github.com/zxqfl/tabnine-vim
[submodule "zsh/antidote"]
	path = zsh/antidote
	url = https://github.com/mattmc3/antidote.git
